name: GollumTest

on: gollum

jobs:
  job:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Dump github.event
        env:
          EVENT: ${{ toJson(github.event) }}
        run: echo "${EVENT}"
