name: Create Vectors

on: gollum
permissions:
  id-token: write
jobs:
  job:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Dump github.event
        env:
          EVENT: ${{ toJson(github.event) }}
        run: echo "${EVENT}"
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ap-northeast-1
      - name: Clone Wiki
        run: git clone https://github.com/${{ github.repository }}.wiki.git --depth 1
      - name: Save Vectors
        run: |
          REPO_NAME=$(echo "${{ github.repository }}" | cut -d '/' -f 2)
          cd ${REPO_NAME}.wiki
          PAGES=$(jq -c .pages <<< $EVENT)
          bash ../save-vectors.sh "$PAGES" ${{ vars.VECTOR_BUCKET }} ${{ vars.VECTOR_INDEX }} ${{ vars.VECTOR_BUCKET_SRC }}
        env:
          EVENT: ${{ toJson(github.event) }} 
        shell: bash